{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

  </head>

  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home">Genograms</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    <div class="container">
      {% if form.errors %}
        {{ form.errors }} {% endif %}
      <form class="form-signin" role="form" action="/registration/" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading">Register</h2>
        <p>Welcome to The Genogram Project. Start your family History by registering below.</p>
        <!--
        <input type="name" class="form-control" placeholder="Username" required autofocus name="username">
        <input type="name" class="form-control" placeholder="First Name" required name="firstname">
        <input type="name" class="form-control" placeholder="Last Name" required name="lastname">
        <div class="form-control">
          <label class="radio-inline">
            <input id="radio1" type="radio" checked="checked" name="gender" value="0"> Male
          </label>
          <label class="radio-inline">
            <input id="radio2" type="radio" name="gender" value="1"> Female
          </label>
        </div>
        <input type="email" class="form-control" placeholder="Email address" required name="email">
        <input type="date" class="form-control" placeholder="Birthday" required name="birthday">
        <input type="password" class="form-control" placeholder="Password" required name="password">
        <input type="password" class="form-control" placeholder="Re-Type Password" required name="password1"> -->
        {{ form.as_p }}
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" href="/user" type="submit">Register</button>
      </form>

      <div>
        <!--{% block content %}
        {% endblock %}-->
      </div>
    </div> <!-- /container -->



  </body>
</html>
