{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>HomePage</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <style>

      .link {
          stroke: #000;
          stroke-width: 1.5px;
            }

      .node {
          fill: #000;
          stroke: #fff;
          stroke-width: 1.5px;
          }

      .node.a { fill: #1f77b4; }
      .node.b { fill: #ff7f0e; }
      .node.c { fill: #2ca02c; }

      .kokos { fill: #2ca02c;  margin:80px; }
      .genoArea
      {
        margin-top: 100px;
      }

      .genoArea
      {
        margin-top: 100px;
      }

    </style>
   <script type="text/javascript">

    //Data
    var dataset = [ 5, 5, 5, 5, 5 ];

    var shape = "{{ data.shapes }}".replace(/&quot;/g,"\"");

    if (shape == "female")
    {
      //Create SVG element
      var svg = d3.select("body")
        .append("svg")
        .attr("width", 500)
        .attr("height", 500);

      var circles = svg.selectAll("circle")
          .data(dataset)
          .enter()
          .append("circle");

      circles.attr("cx", 50)
         .attr("cy", 25)
         .attr("r", 25);


    }
    else if (shape == "male")
    {
      //Create SVG element
      var svg = d3.select("body")
        .append("svg")
        .attr("width", 500)
        .attr("height", 500);

      var rectangles = svg.selectAll("rect")
        .data(dataset)
        .enter()
        .append("rect");

      rectangles.attr("x",50)
        .attr("y",50)
        .attr("width",50)
        .attr("height",50);



    }

  </script>
  </head>
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="Homepage.html">Genograms</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <script type="text/javascript">

        //dummy data
        var dummyPeople = [ { id: "1" , firstName:"Sotiris" , dataSet:10, lastName:"Ioannou" , gender:"male", relationships : [{relationship_type:"brother" , related_to:2 }] },
                            { id: "2" , firstName:"Amit" , dataSet:100, lastName:"Sinha" , gender:"male", relationships : [{relationship_type:"brother" , related_to:1 }] },
                            { id: "3" , firstName:"Beyonce" , dataSet:200, lastName:"Knowles" , gender:"female", relationships : [{relationship_type:"wife" , related_to:2 }] } ];

      	var width  = 960,
      	  	height = 500;

        //d3.select("body").append("p").text("New paragraph!");
        //prepare svg
        var svg = d3.select("body").append("svg")
        			.attr("width", width)
        			.attr("height", height);

        var  circle = svg.selectAll(".circle");
        var  rect = svg.selectAll(".rect")


        //get nodes
        var nodes = [] , links = [];

        //copy json to nodes
        for (i in dummyPeople)
        {
          nodes.push(dummyPeople[i]);
        }


       var circleNodes = [];

       for (node in nodes)
       {
         if (nodes[node].gender == "male")
         {

          console.log("pushing male");

          circleNodes.push(nodes[node]);
           /* svg.append("circle")
           .style("stroke", "gray")
           .style("fill", "white")
           .attr("r", 40)
           .attr("cx", function(d) {return d.x + 20;})
           .attr("cy", 50)
           .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
           .on("mouseout", function(){d3.select(this).style("fill", "white");}); */

         }

         else if (nodes[node].gender == "female")

           console.log("female");
           var dataset = [ 100, 200, 300, 400, 500 ];
           rect.data(dataset)
           .enter()
           .append("rect")
           .attr("width", "50")
           .attr("height", "50")
           .attr("x", "50")
           .attr("y", "50")

       }



      /* for (var k=0; k < circleNodes.length; k++ )
       {
         //alert(circleNodes[k].dataSet);
         circleDataSet.push(circleNodes[k].dataSet);
       }
*/



        //console.log(circleDataSet);
        //console.log(circleNodes);
        circle.data(dummyPeople)
        .enter()
        .append(function(d){
          var el;

          if (d.gender == 'male') {
              el = document.createElementNS("http://www.w3.org/2000/svg", "rect");
              el.setAttribute('width', '50');
              el.setAttribute('height', '50');
              el.setAttribute('x', '50');
              el.setAttribute('y', '50');
          }
          else {
            el = document.createElementNS("http://www.w3.org/2000/svg", "circle");
            el.setAttribute('r', 30);
            el.setAttribute('cx', d.dataSet + 150 + "px");
            el.setAttribute('cy', 150);
            el.style.fill = "yellow";
          }

          return el;
        });

        //.on("mouseover", function(d){alert(console.log(d.firstName));})




      </script>


      <div class="genoArea" id="genogramArea" width = "900" height = "900" >


      </div>


  </body>
</html>
