{% extends "base.html" %}
{% load staticfiles %}

{% block page_header_scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js" charset="utf-8"></script>
{% endblock %}

{% block page_styles %}
    <link href="{% static 'css/user_home.css' %}" rel="stylesheet">
    <style type="text/css">
      .genoArea{
        margin-top: 100px;
        width:100%;
        height:500px;
        border-bottom:solid 1px #ccc;
      }

      ..axis
      {
        stroke: rgb(6,120,155);
        stroke-width:3 ;
      }
    </style>
{% endblock %}

{% block page_content %}
	<div class="container">
      <div class="genoArea" id="genogramArea" width = "500" height = "500" >

      </div>
      <div class="row home_content">
        <div class="col-md-6">
          {% if persons.count >  0 %}
          <h4>People in Your Tree</h4>
            <ul>
            {% for person in persons %}
              <li>
                {{ person.full_name }}
                ({{ person.relationship_from_account_owner }})
              </li>
            {% endfor %}
            </ul>
          {% else %}
             <h4>You have not added anyone to your graph. Start Here -> </h4>
          {% endif %}
        </div>
        <div class="col-md-6 add_person_form">
            <h4>Add a family member</h4>
              <form class="form-signin" role="form" action="/add_person/" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-lg btn-primary" type="submit" value="submit">
              </form>
        </div>
      </div>

    </div>
    <script>

    //get data from json
    var persons_json = {{ persons_json|safe }};
    var primary_person_id = {{ primary_person_id }};
    var primary_person = null;

    getPrimaryPerson();
    //console.log(persons_json);

    //hold graph nodes and links
    var nodes = [], links = [];

    //width and height of graph
    var width = 960 ,
        height = 500;

    function calcXPos(gender, xStart){


        for (var k = 0; k < nodes.length; k++){
            var test = xStart;

            if (nodes[k].gender == gender){

                test = nodes[k].x;
                test +=200;

            }

        }
        return test;
    }

    function calcYPos(person_calc){

        if (person_calc.id == primary_person_id ){

            return 300;
        }

        else {

            return 0;

        }
    }

    function checkRelationship(person){
        var rels = primary_person.relationships,
            relationship = '';

        if (person.id == primary_person.id)
            return "You";
        else{

            for (var j = 0; j < rels.length; j++) {
                if (rels[j].to_person_id == person.id) {
                    relationship = rels[j].relationship_type;
                }
            }
        }

        return relationship;
    }

    function getPrimaryPerson() {
        for (var a = 0; a < persons_json.length; a++) {
            if (persons_json[a].id == primary_person_id ){
                primary_person = persons_json[a];
                break;
            }
        }
    }

    function getPerson(id) {
        var person = null;

        for (var b = 0; b < persons_json.length; b++) {
            if (persons_json[b].id == id ){
                person = persons_json[b];
                break;
            }

        }
        return person;
    }

    //separate male from female nodes
    for (var i = 0; i < persons_json.length; i++){

        person = persons_json[i];

        if (person.gender == 'male'){

            var obj = {

                id:person.id,
                name: person.full_name,
                px:0,
                x: 0,
                y: calcYPos(person),
                gender: 'male',
                weight: 1,
                relationships : person.relationships,
                relationshipToMain : checkRelationship(person)
            };

            nodes.push(obj);
        }
        else if (person.gender == 'female'){

            var obj = {

                id:person.id,
                name: person.full_name,
                px: 0,
                x: 0,
                y: calcYPos(person),
                gender: 'female',
                weight: '1',
                relationships : person.relationships,
                relationshipToMain: checkRelationship(person)
            };

            nodes.push(obj);

        }

    }

    //fix nodes distances
    var levelMinus1 = 80;
    var level0 = 80;
    var level1 = 80;


    nodes.forEach(function(d){


            if (d.id == primary_person_id){
                d.x = 500;
            }

            if (d.relationshipToMain == 'brother' || d.relationshipToMain == 'sister' ||
                    d.relationshipToMain == 'wife'){

                level0 += 150;
                d.x = level0;
                d.y = 300;
        }

            else if (d.relationshipToMain == 'mother' || d.relationshipToMain =='father') {

                level1 += 150;
                d.x = level1;
                d.y = 200;
        }


            else if (d.relationshipToMain == 'son' || d.relationshipToMain == 'daughter'){
            levelMinus1 += 150;
            d.x = levelMinus1;
            d.y = 450;

        }

    });


    //links
    for (var k = 0; k < nodes.length; k++){
        var relationships = nodes[k].relationships;
        for ( var i = 0; i < relationships.length; i++){

            for (var j = 0; j < nodes.length; j++){

                if (relationships[i].to_person_id == nodes[j].id){

                   // console.log("to id " + relationships[i].to_person_id);
                    //console.log(nodes[j].name + nodes[j].id);
                    links.push({source: nodes[0] , target: nodes[j]});
                }

            }

    }
    }

    var graph = d3.select("#genogramArea").append('svg')
        .attr('width', width)
        .attr('height', height);

    //create force layout
    var force = d3.layout.force()

	    .size([width, height])
	    .nodes(nodes)
	    .links(links)
        .charge(-60)
        .gravity(0)
        .alpha(5)
        .on("tick", tick);


    //links visuals
    var link = graph.selectAll('.link')
        .data(force.links())
        .enter().append("line")
        .attr("class", "link");

    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    //create visuals
    var shape = graph.selectAll('.shape')
        .data(force.nodes())
        .enter()
        .append("g")
        .on("mouseover", "getNode");



    shape.append(function(d){

        var el;
        //console.log(d);
        if (d.gender == 'male'){

            el = document.createElementNS("http://www.w3.org/2000/svg", "circle");
            el.setAttribute('r', 15);
            //el.setAttribute('r', Math.floor(Math.random() * 50) + 1);
            el.setAttribute('cx', d.x);
            el.setAttribute('cy', d.y);
            if (d.id == 1){
                el.style.fill = "red";


            }
            else
                el.style.fill = "#2b8cbe";

       }

        else if(d.gender == 'female'){

            el = document.createElementNS("http://www.w3.org/2000/svg", "rect");
            el.setAttribute('width', 20);
            el.setAttribute('height', 20);
            //el.setAttribute('cx', 50);
            el.setAttribute('x', d.x );
            el.setAttribute('y', d.y);
           // console.log(d.id);
            if (d.id == 1){
                el.style.fill = "red";


            }
            else
                el.style.fill = "#fee0d2";
            }

        return el;

    });

    shape.append("text")
        .attr("class", "text")
        .attr("dx", function(d){ return d.x + 13;})
        .attr("dy", function(d){ return d.y;})
        .text(function(d){return d.name});
        //.attr('class','circles')
        //.attr('r', function(d) { return Math.floor(Math.random() * 50) + 1; });*/


    shape.on("mouseover", function(d){
           alert("Relationship to you: " + d.relationshipToMain);
           // alert(d.y);

/*<<<<<<< HEAD */
    });

    function tick(){

        shape.attr("transform" , function(d){

            if(d.gender == 'male'){

                d.y += 100;
            }

        });

      /* shape.attr("transform", function(d) {

           return "translate(" + d.x + "," + d.y + ")";
    });*/

    }
    force.start();
    /*link.attr('x1', function(d){return d.source.x;})
        .attr('y1', function(d){return d.source.y;})
        .attr('x2', function(d){return d.target.x;})
        .attr('y2', function(d){return d.target.y;});*/

    /*force.on("tick", function() {

        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

    }); */



</script>

    <style>

      .circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 3px;
      }


  .link {
    stroke: #a6bddb;
    stroke-opacity: .6;
    stroke-width:3;
  }

      text {
        font: 15px sans-serif;
        pointer-events: none;
      }
      </style>

{% endblock %}
