{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <meta charset="utf-8">

    <style>

      .link {
          stroke: #000;
          stroke-width: 1.5px;
            }


      .kokos { fill: #2ca02c;  margin:80px; }

      .genoArea
      {
        margin-top: 100px;
        width:100%;
        height:500px;
        border-bottom:solid 1px #ccc;
      }

    </style>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>HomePage</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="../GENOGRAM/css/signin.css" rel="stylesheet"> -->


  </head>
  <body>

    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Genograms</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- end navbar-->
    <div class="container">
      <div class="genoArea" id="genogramArea" width = "500" height = "500" >
          <h2>Graph Goes Here</h2>
      </div>
      <div class="row home_content">
        <div class="col-md-6">
          <h4>You have not added anyone to your graph. Start Here -> </h4>
        </div>
        <div class="col-md-6">.col-md-6</div>
      </div>

    </div>
    <script type="text/javascript">

      var dummyPeople = [ { id: "1" , firstName:"Sotiris" , lastName:"Ioannou" , gender:"male", relationships : [{relationship_type:"brother" , related_to:2 }] },
                            { id: "2" , firstName:"Amit" , lastName:"Sinha" , gender:"male", relationships : [{relationship_type:"brother" , related_to:1 }] },
                            { id: "3" , firstName:"Beyonce" , lastName:"Knowles" , gender:"female", relationships : [{relationship_type:"wife" , related_to:2 }] }
                          ];

      var width = 960,
          height = 500;

      var color = d3.scale.category10();

      var nodes = [],
          links = [];

      var force = d3.layout.force()
                  .nodes(nodes)
                  .links(links)
                  .charge(-400)
                  .linkDistance(120)
                  .size([width, height])
                  .on("tick",tick);

      var svg = d3.select("body").append("svg")
                .attr("width", width)
                .attr("height",height);

      var node = svg.selectAll(".node"),
          link = svg.selectAll(".link");


      for (i in nodes)
        {
          var relation = nodes[i].relationships[0].related_to;

        //  alert(relation);
          for (j in nodes)
          {
              if (nodes[j].relationships[0].related_to == relation)
              {
                links[i] = {  source: nodes[j] , target: nodes[i]};
              }

          }
        }
        start();
      },0);

      function start()
      {
          link = link.data(force.links(), function(d) {return d.source.id + "-" + d.target.id;});
          link.enter().insert("line",".node").attr("class", "link");
          link.exit().remove();

           node = node.data(force.nodes(), function(d) { return d.id;});
           node.enter().append("circle").attr("class", function(d) { return "node " + d.id; }).attr("r", 8);
           node.exit().remove();

          force.start();

      }

      function tick() {
        node.attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; })

        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
      }



        for(i in dummyPeople)
        {
          nodes[i] = { id: dummyPeople[i].id,
                       gender: dummyPeople[i].gender,
                       relationships: dummyPeople[i].relationships
                     };
        }

        alert(femaleShapes[0].firstName);

      //Data
      var dataset = [ 5, 5, 5, 5, 5 ];

        //dummy data
        var dummyPeople = [ { id: "1" , firstName:"Sotiris" , dataSet:10, lastName:"Ioannou" , gender:"male",  relationships : [{relationship_type:"brother" , related_to:2 }] },
                            { id: "2" , firstName:"Amit" , dataSet:100, lastName:"Sinha" , gender:"male",  relationships : [{relationship_type:"brother" , related_to:1 }] },
                            { id: "3" , firstName:"Beyonce" , dataSet:200, lastName:"Knowles" , gender:"female",   relationships : [{relationship_type:"wife" , related_to:2 }] } ];

      	var width  = 960,
      	  	height = 500;

        //d3.select("body").append("p").text("New paragraph!");
        //prepare svg
        var svg = d3.select("body").append("svg")
        			.attr("width", width)
        			.attr("height", height);

        var circle = svg.selectAll(".circle");
        var rect = svg.selectAll(".rect");
        var link = svg.selectAll(".link");


        //get nodes
        var nodes = [] , links = [];

        //copy json to nodes
        for (i in dummyPeople)
        {
          nodes.push(dummyPeople[i]);
        }


       var circleNodes = [];

       for (node in nodes)
       {
         if (nodes[node].gender == "male")
         {

          console.log("pushing male");

          circleNodes.push(nodes[node]);
           /* svg.append("circle")
           .style("stroke", "gray")
           .style("fill", "white")
           .attr("r", 40)
           .attr("cx", function(d) {return d.x + 20;})
           .attr("cy", 50)
           .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
           .on("mouseout", function(){d3.select(this).style("fill", "white");}); */

         }

         else if (nodes[node].gender == "female")

           console.log("female");
           var dataset = [ 100, 200, 300, 400, 500 ];
           rect.data(dataset)
           .enter()
           .append("rect")
           .attr("width", "50")
           .attr("height", "50")
           .attr("x", "50")
           .attr("y", "50")

       }


        //console.log(circleDataSet);
        //console.log(circleNodes);


        circle.data(dummyPeople)
        .enter()
        .append(function(d){

          var el;

          if (d.gender == 'male') {
              el = document.createElementNS("http://www.w3.org/2000/svg", "rect");
              el.setAttribute('width', '50');
              el.setAttribute('height', '50');
              el.setAttribute('x', d.dataSet + 150 + "px");
              el.setAttribute('y', '50');


              d = { node:d , cords:{x:d.dataSet+150 , y:50}};
             // console.log(d.node.relationships);

          }
          else if (d.gender == 'female') {
            el = document.createElementNS("http://www.w3.org/2000/svg", "circle");
            el.setAttribute('r', 30);
            el.setAttribute('cx', d.dataSet + 150 + "px");
            el.setAttribute('cy', 150);
            el.style.fill = "yellow";

            d = {node:d, cords:{x:d.dataSet+150 , y:150}};
          }
          //console.log(d.node.relationships.length);
          for (var i=0; i < d.node.relationships.length; i++){
            	//alert(d.node.relationships[i].relationship_type);
            	var target_node;
            	for (var j=0; j< dummyPeople.length; j++){
           			if (d.node.relationships[i].related_to == dummyPeople[j].id){
           				target_node = dummyPeople[j];
           				target_node = {node: dummyPeople[j] , cords: {x:target_node.dataset+150, y:50}};
           				break;
           			}
            	}


            	//sNode = {node:d.cords , cords:{x:tempx , y:tempy}};
            	console.log(target_node);

            	links.push({source: d.cords , target: target_node.cords});


            }

		  nodes.push(el);
          return el;
        });

        link.data(links)
           	.enter()
           	.append("line")
           	.attr("x1", function(link) { return link.source.x})
           	.attr("y1", function(link) { return link.source.y})
           	.attr("x2", function(link) { return link.target.x})
           	.attr("y2", function(link) { return link.target.y})
           	.style("stroke", "rgb(6,120,155)");


            	//sNode = {node:d.cords , cords:{x:tempx , y:tempy}};
            	console.log(target_node);

            	links.push({source: d.cords , target: target_node.cords});


            }

        //.on("mouseover", function(d){alert(console.log(d.firstName));})

    </script>

  </body>
</html>
