{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>{% block page_title %} Genogram Homepage {% endblock %}</title>
    {% block page_header_scripts %}{% endblock %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/genogram.css' %}" rel="stylesheet">
    {% block page_styles %} {% endblock %}
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Genograms</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#contact">Contact Us</a></li>
                  {% if user.is_authenticated %}
                    <li><a href="/home">My Genogram</a></li>
                  {% endif %}
              </ul>
              {% if user.is_authenticated %}
                <div class="navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                  <li class="logged_in_user">Welcome {{ user.username }} </li>
                  <li><a href="/logout">Log Out</a></li>
                </ul>
              </div>
              {% else %}
              <form class="navbar-form navbar-right" role="form" action="/login/" method="post">
                <!--{% if form.errors %}<p>Please correct the following fields:</p>{% endif %} <!-- Amit -->
                {% csrf_token %}
                <div class="form-group">
                  <!--{% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
                  <p><label for="username"{% if form.username.errors %} class="error"{% endif %}>Username:</label></p>-->
                  <input type="text" placeholder="Email" class="form-control" id="username" name="username">
                  <p>{{ form.username }}</p>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control" id="password" name="password">
                  <p>{{ form.password }}</p>
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
                <a class="btn btn-success" href="/register/" role="button">Register</a>
              </form>
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /.end navbar -->
    {% block page_content %} {% endblock %}

      <!-- FOOTER -->
      <footer class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Genogram Project 2014 &middot;</p>
      </footer>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
  </body>
</html>
